@import '../base/font.scss';
@import '../base/colors.scss';

.long-tile-link {
    width: 100%;
    margin-bottom: 24px;
    padding: 16px;
}

.longtile-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 224px;
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgb(240,240,240);
    color: black;
    margin: auto;
}

.longtile-photo {
    height: 192px; 
    width: 288px;
    border-radius: 8px;
}
