

#map-container-trail {
    height: 243px;
    width: 291px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
}

#map-container-park {
    height: 240px;
    width: 763px;
    border-radius: 10px;
}