

#map-container-trail {
    max-height: 243px;
    max-width: 291px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
}

#map-container-park {
    max-height: 240px;
    max-width: 763px;
    min-height: 193px;
    min-width: 328px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
}