@import './base/font.scss';
@import './base/colors.scss';


.modal-background {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 20;
    transition: 0.2s;
}

.rev-form-container {
    position: absolute;
    z-index: 1;
    width: 534px;
    background-color: #fff;
    border-radius: 12px;
    transition: 0.2s;
    top: 10%;
    left: 37%;
}

.step-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1.2;
}

.review-star {
    margin-right: 4px;
}

.review-star:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;

}

.x-out {
    height: 80px;
    float: left;
    img {
        height: 26px;
        width: 26px;
        margin-top: 22px;
        margin-left: 22px;
    }

    a {
        cursor: pointer;
    }
}

#activity {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 14px 42px 14px 15px;
    width: 170px;
    margin-left: 20px;
}

#date {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 7px 7px 7px 15px;
    margin: 0;
    color: #414141;
    background: #fff;
    width: 130px;
}

.step-body {
    display: block;
    height: 360px;
    margin: 0px 32px;
    border-bottom: 1px solid #e6e6e6;
    
    textarea {
        font-size: 16px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        border-radius: 8px;
        border: 1px solid #e6e6e6;
        width: calc(100% - 32px);
        height: 100px;
        padding: 12px 16px;
        color: #414141;
        min-height: 113px
    }

    .step {
        margin: 8px 0px 28px;
        font-size: 14px;
        opacity: 0.8;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
        color: #414141;
    }

    div {
        margin-top: 26px;
        margin-bottom: 16px;
    }
}

.modal-content {
    background-color: #f3f3f3;
    margin: 20% auto;
    padding: 20px;
    border: 2px solid $brand_green;
    width: 40%;
}

.review-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    
}

.review-button {
    background: $brand_green;
    border: none;
    width: 82px;
    height: 40px;
    margin-right: 22px;
    border-radius: 8px;
    height: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

// .disabled-button {
//     background: $brand_green;
//     border: none;
//     width: 82px;
//     height: 40px;
//     margin-right: 22px;
//     border-radius: 8px;
//     height: 40px;
//     color: white;
//     font-weight: bold;
//     cursor: pointer;
//     font-size: 16px;
//     opacity: 0.5;
//     pointer-events: none;
// }
// {
//         "review-button"+(this.state.review.rating===0) ? 'disabled-button': ''
//     }


// step2 container 


.rev-conditions-container {
    display: inline-block;
}

.rev-date-act {
    display: flex;
    justify-content: space-between;
    width: 100%;
    label {
        margin-right: 20px;
        font-size: 18px;
        font-weight: bold;
        color: $text;
    }
}

.review-buttons-container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    position: relative;
}

.review-button-back {
    background: #fff;
    border: none;
    width: 82px;
    height: 40px;
    margin-right: 22px;
    border-radius: 8px;
    height: 40px;
    color: $brand_green;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.condition-unselected {
    background-color: #ffffff;
    padding: 5.5px 12px;
    margin: 5px 2.5px;
    display: inline-block;
    color: #414141;
    white-space: nowrap;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
}

.condition-unselected:hover {
    border: 1px solid $brand_green;
    background-color: rgba(66,138,19,.04);
    color: $brand_green;
    padding: 5.5px 12px;
    margin: 5px 2.5px;
    white-space: nowrap;
    border-radius: 8px;
    cursor: pointer;
}

.condition-selected {
    border: 1px solid $brand_green;
    background-color: rgba(66,138,19,.04);
    color: $brand_green;
    padding: 5.5px 12px;
    margin: 5px 2.5px;
    white-space: nowrap;
    border-radius: 8px;
}