@import '../base/font.scss';
@import '../base/colors.scss';

// Mainly Positioning Outer Containers
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $background_color;
    align-items: center;
    width: 100%;
    height: 100%;
}

.margintop {
    margin-top: 60px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.margintop {
    margin-top: 55px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-left: 10px;
    color: #414141;
    font-size: 12px;
    font-weight: 700;
}

.left-nav > div {
    display: flex;
    align-items: center;
}

.nav-dropdown {
    margin: 0.4px;
    outline: none;
}

.left-nav:first-child {
    margin: 0px 32px;
}

.explore-link {
    color: #414141;
    outline: none;
}

.explore-link:hover {
    color: $brand-green;
}

.nav-dropdown:hover {
    cursor: pointer;
    color: $brand-green;
}

.left-nav > span {
    cursor: pointer;
}

.mid-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    background: transparent;
    width: 200px;
}

.logo {
    width: 56px;
    height: 56px;
}

// Mainly Styling
header {
    height: 60px;
}

.nav-title {
    font-size: 28px;
    font-weight: 800;
    margin: 0px 0px 0px 8px;
    color: grey;
    letter-spacing: -1.5px;
}

.nav-center-links {
    display: flex;
    align-items: center;
}

.nav-title:hover {
    opacity: 100%;
}

a.signup-button, a.login-button {
    font-size: 14px;
    font-weight: 999;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #219ad8;
    border-radius: 8px;
    width: 82px;
    text-decoration: none;
}

.signup-button {
    background: #219ad8;
    color: $background_color;
}

.login-button {
    margin: 0px 0px 0px 8px;
    color: #219ad8;
    background: $background_color;
}

.prof-icon {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

// dropdown menu

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $background_color;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px;
    right: 2px;
    z-index: 10;
}

.dropdown-content a {
  color: black;
  margin: 6px 0px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;}