@import '../base/font.scss';
@import '../base/colors.scss';

.head-loc {
    display: flex;
    flex-wrap: nowrap;
    font-size: 12px;
    color: #5a5a5a;
    width: 640px;
    overflow-x: hidden;
    text-overflow: ellipsis;


    span {
        display: inline-block;
        white-space: nowrap;
        margin-right: 20px;
    }
}