// Place all the styles related to the api/parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '../base/font.scss';
@import '../base/colors.scss';

.park-wrapper {
    min-height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.park-width {
    width: 1024px;
    margin: auto;
}

.park-information {
    width: 100%;
}

.park-trails {
    width: 100%;
}

.park-header-div {
    width: 100%;
    margin: auto;
    color: $text;

    .park-title {
        font-family: "Proxima-Nova-Bold";
        font-size: 32px;
    }

    .park-reviews {
        color: $lightgrey;
    }
}

.show-search-park {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 36px;
    width: 326px;
    background-color: $background_color;
    z-index: 1;
    border: 1px solid black;
}

.show-input-park {
    border-radius: inherit;
    width: 90%;
    height: 93%;
    padding: 0px 8px;
}