// Place all the styles related to the api/parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '../base/font.scss';
@import '../base/colors.scss';

.park-wrapper {
    min-height: 100vh;
    width: 100vw;
    background-color: #fff;
    border-top: 1px solid lightgrey;
}

.park-width {
    width: 1024px;
    margin: auto;
    padding-bottom: 32px;
}

.park-photos-div {
    display: flex;
    width: 1048px;
    padding-bottom: 16px;

    > div {
        width: 330px;
        height: 220px;
        margin-right: 24px;

        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            
        }
    }
}

.park-title {
    font-family: "Proxima-Nova-Bold";
    font-size: 32px;
    margin: 10px 0;
}

.park-reviews {
    display: flex;
    align-items: center;
    color: $lightgrey;
    padding-left: 6px;
    text-align: center;
}

.park-rating-div {
    display: flex;
    align-items: center;
    margin: 14px 0;
}

.park-name-div {
    max-width: 763px;
    color: $text;
}

.park-description {
    margin-bottom: 18px;
    white-space: pre-wrap;
    font-size: 18px;
    color: $lightgrey;
    line-height: 1.44;
    height: 80px;
    width: 763px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-overflow {
    overflow: visible;
    font-size: 18px;
    color: $lightgrey;
    line-height: 1.44;
    padding-bottom: 18px;
}

.show-more {
    color: $brand_green;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.show-search-park {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 36px;
    width: 326px;
    background-color: $background_color;
    z-index: 1;
    border: 1px solid lightgrey;
}

.show-input-park {
    border-radius: inherit;
    width: 90%;
    height: 93%;
    padding: 0px 8px;
}

.park-information {
    width: 100%;
    color: $lightgrey;
    font-size: 16px;

    h2, h3 {
        font-family: "Proxima-Nova-Bold";
        font-size: 22px;
        color: $text;
    }

    h2 {
        margin-bottom: 16px;
    }

    h3 {
        font-size: 18px;
        line-height: 1.38;
    }

    .park-details-div {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $border;
        margin-bottom: 28px;

        > div {
            display: flex;
            flex-direction: column;
            width: 25%;
        }
    }

    .park-hours-div {
        margin-bottom: 28px;
    }

    .park-hours {
        display: flex;
        justify-content: space-between;
        margin: 3px 0;
    }

    .acreage {
        margin-bottom: 10px;
    }
}

.top-trails {
    font-size: 26px;
    font-family: "Proxima-Nova-Bold";
    margin-bottom: 28px;
}

.park-trails {
    width: 100%;
}