// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './base/font.scss';
@import './base/colors.scss';

.review-container {
    display: block;
    width: 100%;
}

.rev-banner {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    height: 60px;
    color: #414141;
    top: 50%;
}

.rev-summary {
    display: block;
    color: #414141;
    margin: 24px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
    height: 189px;
}

.rev-stats {
    padding-right: 204px;
    height: 164px;
}

.review-header {
    min-height: 48px;
}

.rev-count {
    color: $brand_green;
}

.review-block {
    display: block;
    margin: 0px 24px 0px;
    padding-bottom: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e6e6e6
}

.rev-name {
    color: $text;
    line-height: 24px;
    white-space: nowrap;
}

.default-image {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.date-hiked {
    padding-left: 10px;
    color: $text;
    opacity: 0.8;
}

.rev-tags {
    display: flex;
    flex-flow: row wrap;
    padding-top: 8px;
    padding-bottom: 12px;
}

.rev-description {
    align-items: flex-start;
}

.rev-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 22px;
}

.rev-name {
    margin-bottom: 8px;
    margin-left: 4px;
}






