// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './base/font.scss';
@import './base/colors.scss';

.review-container {
    display: block;
    width: 100%;
    // overflow: auto;
}

.rev-banner {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    height: 60px;
    color: #414141;
    top: 50%;
}

.tab-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.02857em;
    line-height: 1.75;
}
// table of bars

.rev-table td:first-child {
    width: 12px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}

.rev-table td:nth-child(2) {
    width: 32px;
    height: 20px;
    align-items: center;

}

.rev-table td:last-child {
    width: 132px;
    height: 20px;
    align-items: center;
}

.rev-bar {
    height: 20px;
    align-content: center;
}

.table-row, .table-row td {
    display: flex;
    align-items: center;
}



.yellow-bar {
    height: 8px;
    border-radius: 4px;
    background-color: #f5d24b;
}

.rev-summary {
    position: relative;
    display: block;
    color: #414141;
    margin: 24px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
    height: 189px;
    width: 100%;
}

.rev-stats {
    padding-right: 204px;
    height: 164px;
    margin: 0px 24px;
}

.avg-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 393px;
}

.avg {
    font-size: 56px;
    margin-bottom: 18px;
    color: $text;
}

.avg-rating img {
    height: 16px;
    width: 16px;
}

.review-header {
    min-height: 48px;
}

.rev-count {
    padding-left: 10px;
    color: $brand_green;
}

.review-block {
    display: block;
    margin: 0px 24px 0px;
    padding-bottom: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e6e6e6
}

.rev-name {
    color: $text;
    line-height: 24px;
    white-space: nowrap;
}

.default-image {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.date-hiked {
    padding-left: 10px;
    color: $text;
    opacity: 0.8;
}

.rev-tags {
    display: flex;
    flex-flow: row wrap;
    padding-top: 8px;
    padding-bottom: 12px;
}

.rev-description {
    align-items: flex-start;
}

.rev-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 22px;
}

.rev-name {
    margin-bottom: 8px;
    margin-left: 4px;
}

.rev-total {
    font-size: 14px;
    opacity: 0.8;
    line-height: 18px;
    padding-left: 4px;
}

.rev-button {
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $brand_green;
    background-color: $brand_green;
    color: #fff;
    border-radius: 8px;
    width: 188px;
    text-decoration: none;
    position: absolute;
    top: 4%;
    right: 4%;
}



