@import '../base/font.scss';
@import '../base/colors.scss';

.small-dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    height: 525px;
    width: 324px;
}

.small-search-tabs {
    background-color: #f2f2f2;
    min-height: 10px;
    border: solid #cccccc 1px;
    width: 100%;
}

.small-search-content {
    position: absolute;
    background-color: #fff;
    color: $text;
    border: 1px #c8c8c8 solid;
    height: 90%;
    width: 100%;
}