@import '../base/font.scss';
@import '../base/colors.scss';

// applies greed border on focus for all input fields!!!
input:focus {
    outline: none !important;
    border: 2px solid $brand_green;
}

div.background-image {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 64px;
    color: $background_color;
    margin-bottom: 24px;
    font-weight: 700;
}

// search

.splash-search {
    display: flex;
    border-radius: 40px;
    padding: 0px 16px;
    align-items: center;
    height: 72px;
    width: 644px;
    background-color: $background_color;
    z-index: 1;
}


.search-bar {
    color: #414141;
    margin: 0px 16px;
    padding: 14px 0px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    width: 92%;
}

.search-bar:focus {
    border: none;
}

.green-arrow:hover {
    cursor: pointer;
}

.splash-explore {
    margin: 24px 0px 0px;
}

.splash-explore-link {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: 700;
}

.green-arrow:hover {
    opacity: 90%;
}

// trail tiles

.splash-trails {
    width: 100%;
    background-color: #F2F2F2;
    padding: 48px 0px;
}

.splash-favorites {
    font-size: 24px;
    color: #414141;
    max-width: 1240px;
    margin: 0 auto 12px;
    width: calc(100% - 32px);
    font-family: 'Proxima-Nova-Bold';
}


// third container with photo cards and go-wild signup button

.third-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 96px 0px 60px;
}

.photo-cards {
    display: flex;
}

.photo-container {
    position: relative;
    width: 209px;
    height: 364px;
}

.photo-container div:first-child {
    margin-bottom: 16px;
}

.photo-container div:nth-child(-n + 2) {
    width: 194px;
    height: 162px;
    border: none;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

.photo-card {
    display: flex;
    justify-content: center;
}

.photo-card span {
    color: #fff;
    font-size: 24px;
    letter-spacing: -0.2px;
    font-weight: 700;
}

.go-wild {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 480px;
    margin-left: 100px;
    padding-right: 20px;
}

.go-wild div:nth-child(-n + 2) {
    font-size: 44px;
    font-weight: 700;
    color: #414141;
}

.go-wild span {
    color: #414141;
    font-size: 18px;
    margin: 0px 0px 32px;
}

.go-wild a {
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $brand_green;
    border-radius: 8px;
    width: 82px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: $brand_green;
}

.go-wild a:hover {
    background-color: $brand_green;
    color: #FFFFFF;
    cursor: pointer;
}

.go-wild div:nth-child(2), 
.go-wild div:nth-child(3) {
    margin-bottom: 18px;
}


// styling for descriptor image cards/tiles
#hiking {
    // background-image: url('hiking_card.png');
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('hiking_card.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

#mtn-biking {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('mtn_biking.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

#trail-running {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('running_card.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

#dogs {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('dogs_card.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

#wheelchair {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('wheelchair_card.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

#road-biking {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('biking_card.png');
    background-size: 200px;
    background-repeat: no-repeat;
}

// CONFIDENCE component

.outer-confidence {
    background-color: black;
}

.confidence {
    display: flex;
    justify-content: center;
    height: 725px;
    width: 100%;
    background-image: url('confidence.png');
    background-size: 1680px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 0px 20em 200px rgba(0, 0, 0, 1);
}

.inner-confidence {
    width: 70%;
    margin: 128px 95.5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.inner-confidence h1:first-child {
    color: #fff;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.inner-confidence h1:nth-child(2) {
    color: #f5d24b;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: 2px;
}

.inner-confidence > span {
    margin-top: 32px;
    margin-bottom: 32px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    max-width: 280px;
}

.inner-confidence > div {
    display: flex;
    align-items: center;
}

.confidence-icons > * {
    margin-right: 10px;
}


.rating {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-right: 15px;
}

// confidence component > mobile preview

.mobile-preview {
    display: flex;
    margin: -55px auto 0px;
    width: calc(100% - 200px);
    height: 640px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.mobile-left, .mobile-center, .mobile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-title {
    font-size: 44px;
    color: #414141;
    font-weight: 900;
}

.mobile-left {
    width: 20%;
    padding-left: 40px;
    margin-top: 16px;
    text-decoration: none;
}

.mobile-left > * {
    margin-bottom: 24px;
    color: #414141;
    text-align: left;
    font-size: 22px;
    font-weight: 900;
    border: none;
    background-color: #f2f2f2;
}

.mobile-left > button:hover {
    color: $brand_green;
    transition: 0.1s;
    cursor: pointer;
}

.mobile-center img {
    height: 100%;
    width: 414px;
}

.mobile-right {
    width: 42%;
    max-width: 400px;
    padding-left: 16px;
}

.mobile-right > * {
    margin-top: 24px;
}

.mobile-right > a {
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $brand_green;
    border-radius: 8px;
    width: 82px;
    background-color: #f2f2f2;
    text-decoration: none;
    color: $brand_green;
}

.mobile-right > a:hover {
    background-color: $brand_green;
    color: #FFFFFF;
    cursor: pointer;
}

// confidence component > stats

.stats {
    display: flex;
    justify-content: space-evenly;
    padding: 128px 0px 96px;
}

.stats span:first-child {
    color: $brand_green;
    font-size: 84px;
    font-weight: 700;
    margin-bottom: 8px;
}

.stats span:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    color: $brand_green;
}

.stat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.stat-list span:last-child {
    text-align: center;
    color: #414141;
    font-size: 18px;
}