@import '../base/font.scss';
@import './base/colors.scss';

.tile-title {
    font-size: 18px;
    color: #414141;
}

.tile-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 298px;
    height: 48%;
}

.tile-content > * {
    padding: 10px 10px;
}

.tiles-container {
    display: flex;
    justify-content: center;
}

.tile-image {
    object-fit: cover;
    height: 52%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
