// Place all the styles related to the api/trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '../base/font.scss';
@import '../base/colors.scss';

//header

.grey {
    background-color: #e6e6e6;
}

.trail-pic {
    background-image: url('dipsea_main.jpg');
    height: 600px;
}

.show-search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 36px;
    width: 326px;
    background-color: $background_color;
    z-index: 1; 
}

.show-input {
    border-radius: inherit;
    width: 90%;
    height: 93%;
    padding: 0px 8px;
}

.show-input:focus {
    border: none;
}

.green-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: $brand_green;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
}

.trail-head {
    width: 1024px;
    margin: auto;
    padding-top: 8px;   
    padding-bottom: 8px;
    color: #000000;
    height: 100%
}

.trail-img {
    height: 312px;
    display: flex;
    position: relative;
}

.trail-title {
    margin: 0px 24px;
    bottom: 32px;
    position: absolute;
    color: #FFFFFF;
}

.trail-title li:first-child {
    margin: 0px 0px 6px;
    font-size: 30px;
    color: #FFFFFF; 
}

.trail-title li:last-child {
    margin: 6px 0px 0px;
    font-size: 14px;
    color: #FFFFFF;
}

.trail-title li:last-child:hover {
    opacity: 0.5;
    cursor: pointer;
}

.head-loc {
    font-size: 12px;
    color: #5a5a5a;
    width: 640px;
}

.head-loc > * {
    margin-right: 10px;
}

// body 


.reviews-agg {
    margin-left: 8px;

}

.green-bar {
    height: 55px;
    background-color: $brand_green;
}

// trail body and side nav

.trail-body {
    width: 63%;
    height: 2000px;
    background-color: #f3f3f3;
}

.side-panel {
    width: 37%;
    height: 2000px;
    position: relative;
    background-color: #f3f3f3;
}

.trail-description {
    display: block;
    font-size: 18px;
    white-space: pre-wrap;
    color: $text;
    margin: 0px 24px;
    border-bottom: 1px solid #e6e6e6;
    padding: 24px 0px;
    overflow-wrap: break-word;
    line-height: 1.44;
    opacity: 0.8;
}

.characteristics {
    display: block;
    // justify-content: left;
    margin: 0px 24px;
    padding: 24px 0px;
}

.characteristics div {
    display: inline-block;
    width: 32%;
}

.characteristics > span {
    font-size: 16px;
    line-height: 1.38;
    color: #414141;
}

// tags

.tags-section {
    display: block;
    width: 90%;
    padding: 16px 0px 24px;
    margin: 0px 24px;
}