@import '../base/font.scss';
@import '../base/colors.scss';

.weather-section {
    width: 90%;
    margin: 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0px 24px;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text;
    font-size: 14px;
    font-family: "Proxima-Nova";

    img {
        margin-bottom: 10px;
    }
}

.weather-banner {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    height: 60px;
    color: #414141;
    top: 50%;
    font-size: 16px;
}

.weather-tab {
    padding-left: 10px;
    color: $text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.day {
    margin-bottom: 10px;
}