@font-face {
    font-family: "Proxima-Nova";
    src: url("ProximaNova-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova-Bold";
    src: url("Proxima-Nova-Bold.otf");
    font-weight: normal;
    font-style: normal;
}


// font-family: 'Rubik Microbe', cursive;