@import './font.scss';
@import './colors.scss';

a:hover, button:hover {
    opacity: 90%;
    transition: 0.2s;
}

a {
    text-decoration: none;
}

.bold {
    font-family: 'Proxima-Nova-Bold';
}

* {
    font-family: 'Proxima-Nova';
}

html {
    overflow-x: hidden;
}

input {
    border: none;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 236px;
    width: 298px;
    margin: 0 12px;
    border-radius: 20px;
    transition: 0.3s;
}

.tile:hover {
    transform: scale(1.05);
}

.detail {
    color: #767676!important;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    height: 21px;
    line-height: 21px;
    letter-spacing: normal
}

.descriptor {
    background-color: #69a041;
    color: #f1f1f1;
    width: 72px;
    height: 18px;
    border-radius: 6px;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.42
}

.descriptor-blue {
    background-color: #4BAFE1;
    color: #f1f1f1;
    width: 72px;
    height: 16px;
    border-radius: 6px;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.42;
    margin-right: 10px;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // display: block;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-stars {
    height: 16px;
    width: 16px;
    padding: 0px 2px;
}

.hidden {
    display: none;
    position: absolute;
}

.content-width {
    width: 1024px;
    margin: auto;
}

.border-outer {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.border-right-inner {
    border-right: 1px solid #eaeaea;
}

.border-left-inner {
    border-left: 1px solid #eaeaea;
}
