@import './font.scss';
@import './colors.scss';

// @media only screen {
//     body {
//         min-width: 1028px;
//         overflow-x: scroll;
//     }
// }

html {
    overflow-x: scroll;
}

#container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // overflow: auto;
    position: relative;
    // position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

// html {
//     overflow: auto;
// }

a:hover, button:hover {
    opacity: 90%;
    transition: 0.2s;
}

button {
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.bold {
    font-family: 'Proxima-Nova-Bold';
}

* {
    font-family: 'Proxima-Nova';
}

html {
    overflow-x: hidden;
}

input {
    border: none;
}

.descriptor {
    background-color: #69a041;
    color: #f1f1f1;
    width: 72px;
    height: 18px;
    border-radius: 6px;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.42;
    padding-top: 2px;
}

.descriptor-blue {
    background-color: #4BAFE1;
    color: #f1f1f1;
    width: 72px;
    height: 16px;
    border-radius: 6px;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.42;
    margin-right: 10px;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // display: block;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    height: 16px;
    width: 16px;
    padding: 0px 2px;
}

.hidden {
    display: none;
    position: absolute;
}

.content-width {
    width: 1024px;
    margin: auto;
    background-color: #fff;
}

.border-outer {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.border-right-inner {
    border-right: 1px solid #eaeaea;
}

.border-left-inner {
    border-left: 1px solid #eaeaea;
}

.tag {
    background-color: #ffffff;
    padding: 5.5px 12px;
    margin: 5px 2.5px;
    display: inline-block;
    color: $brand_green;
    white-space: nowrap;
    border-radius: 8px;
    border: solid 1px $brand_green;
    cursor: default;
}