@import '../base/font.scss';
@import '../base/colors.scss';

// Mainly Positioning Outer Containers
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $background_color;
    align-items: center;
    width: 100%;
    height: 100%;
}

.left-nav {
    width: 200px;
}

.mid-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    background: transparent;
    width: 200px;
}

.logo {
    width: 56px;
    height: 56px;
}

// Mainly Styling
header {
    height: 60px;
    font-family: $font;
}

.nav-title {
    font-size: 5em;
    // font-family: $font;
}

a {
    text-decoration: none;
}

a.signup-button, a.login-button {
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #219ad8;
    border-radius: 8px;
    width: 82px;
    text-decoration: none;
}

.signup-button {
    background: #219ad8;
    color: $background_color;
}

.login-button {
    margin: 0px 0px 0px 8px;
    color: #219ad8;
    background: $background_color;
}

.nav-title {
    font-size: 2em;
    font-weight: 100;
    margin: 0px 0px 0px 8px;
    color: gray;
}

.user-prof-icon {
    width: 40px;
    height: 40px;
}
