@import '../base/font.scss';
@import '../base/colors.scss';


// Mainly Positioning
.background-image-session {
    background:url('splash_hiker.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.session-box-signup {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    max-width: 420px;
    max-height: 400px;
    margin-top: 60px;
    background: $background_color;
    padding: 24px;
    border: 1px solid $brand_green;
    align-items: center;
    width: 420px;
}

.session-box-login {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    max-width: 420px;
    max-height: 280px;
    margin-top: 60px;
    background: $background_color;
    padding: 24px;
    border: 1px solid $brand_green;
    align-items: center;
    width: 420px;
}

.session-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// Mainly Styling

.session-title {
    font-size: 24px;
    padding-bottom: 24px;
    color: #414141;
    font-weight: 600;
}

.session-form > input {
    color: #414141;
    margin: 10px 0px;
    // font-family: ;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e6e6e6;
    font-size: 14px;
    width: 92%;
}

.session-button {
    background: $brand_green;
    margin-bottom: 16px;
    border: none;
    width: 100%;
    border-radius: 8px;
    height: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bottom-link {
    text-align: center;
}

.bottom-link > p {
    padding-bottom: 6px;
}

.login-link, .signup-link {
    color: $brand_green;
    font-weight: bolder;
    text-align: center;
}