@import '../base/font.scss';
@import '../base/colors.scss';

// applies greed border on focus for all input fields!!!
input:focus {
    outline: none !important;
    border: 2px solid $brand_green;
}

div.background-image {
    background:url('splash_hiker.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 5em;
    color: $background_color;
    margin-bottom: 24px;
}

.splash-search {
    display: flex;
    border-radius: 40px;
    padding: 0px 16px;
    align-items: center;
    height: 72px;
    width: 644px;
    background-color: $background_color;
    z-index: 1;
}


.search-bar {
    color: #414141;
    margin: 0px 16px;
    padding: 14px 0px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    width: 92%;
}

.search-bar:focus {
    border: none;
}

.green-arrow:hover {
    cursor: pointer;
}

.splash-explore {
    margin: 24px 0px 0px;
}

.splash-explore-link {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: 700;
}

.splash-trails {
    width: 100%;
    background-color: #F2F2F2;
    padding: 48px 0px;
}

.tiles-title {
    
}

.splash-tiles {
    display: flex;
    justify-content: center;
}

.tile {
    height: 236px;
    width: 298px;
    border: 2px solid $brand_green;
    margin: 0 16px;
    border-radius: 20px;
}